In [1]:
import glob
import os
import pandas as pd
import shutil

PoC: Howt to upload new csv format data on database

Database: SQL on GCP 

environment: local Ubuntu

In [9]:
# if csv does not exist, create a blank dataframe
# if csv exist, read csv.
csv_checker = glob.glob("../raw_data/sample_data.csv")
if len(csv_checker) == 0:
    df = pd.DataFrame(columns=[])
else:
    df = pd.read_csv('../raw_data/sample_data.csv')


# get all csv file names in 'input_folder' folder
files = glob.glob(f"../raw_data/input_folder/*.csv") # a list of csv file names

# to avoid error when csv file is empty, return strings
# if file is not empty, concatinate csv files on df
for file in files:
    if os.stat(file).st_size == 0:
        print('File is empty')
    else:
        tmp = pd.read_csv(file)
        df = pd.concat([df, tmp])
        
# delete folder and re-make a empty folder
shutil.rmtree('../raw_data/input_folder')
os.mkdir('../raw_data/input_folder')

df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,0,0,1.0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,1,1,1,2.0,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,2,2,2,3.0,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,3,3,3,4.0,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,4,4,4,5.0,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,149995,149996,NaN,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
299996,299996,149996,149997,NaN,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
299997,299997,149997,149998,NaN,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
299998,299998,149998,149999,NaN,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
299999,299999,149999,150000,NaN,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [8]:
df.to_csv('../raw_data/sample_data.csv', header=True, index=True)

For the newly retrieved files, I will upload the contents of these files to GCP SQL server following steps in this link below.
https://cloud.google.com/sql/docs/mysql/quickstart